<section id="header_image">
    <a href="/">
        <img src="/media/logo/logo.png" />
    </a>
    <div>
        <span>University of Tokaj - Drone Technology Research Center</span>
    </div>
    <br />
</section>