<section id="menu">
    <nav>
        <a href="/">Home</a>

        <div>
            <button>User Account</button>
            <div>
                <a href="/user/register">Register</a>
                <a href="/user/login">Login</a>
                <a href="/user/profile">Profile</a>
            </div>
        </div>

        <div>
            <button>Drones</button>
            <div>
                <a href="/drones/uavs">UAVs</a>
                <a href="/drones/uavs-mongodb">UAVs - MongoDB</a>
                <a href="/drones/uavs-json">UAVs - JSON file</a>
                <a href="/drones/ugvs">UGVs</a>
            </div>
        </div>

        <div>
            <button>Drone-Networks</button>
            <div>
                <a href="/drone-networks/demo">Demo</a>
            </div>
        </div>

        <div>
            <button>Papers</button>
            <div>
                <a href="/papers/exploring-drone-networks-simulation-based-insights">Exploring Drone Networks: Simulation-Based Insights</a>
                <a href="/papers/simple-learning-algorithms-in-limited-performance-systems-robots">Simple Learning Algorithms in Limited Performance Systems, Robots</a>
                <a href="/papers/affordable-lidar-equipped-drone-applications-expanding-accessibility-and-utility-in-monitoring">Affordable LIDAR-Equipped Drone Applications: Expanding Accessibility and Utility in Monitoring</a>
            </div>
        </div>

        <div>
            <button>Presentations</button>
            <div>
                <a href="/presentations/20240418-THE-TDK">THE TDK 2024-04-19</a>
            </div>
        </div>

        <div>
            <button>API</button>
            <div>
                <a href="/api/get-drones">get-drones</a>
                <a href="/api/count-drones">count-drones</a>
                <a href="/api/register-user">register-user</a>
                <a href="/api/login-user">login-user</a>
            </div>
        </div>

        <a href="/resources">Resources</a>
    </nav>
</section>