<link rel="stylesheet" href="/css/leaflet.css" />
<script type="text/javascript" src="/js/leaflet.js"></script>
<script type="text/javascript" src="/js/turf.js"></script>
<script type="text/javascript" src="/js/drone_networks/index.js"></script>
<script type="text/javascript" src="/js/drone_networks/drone_network_request.js"></script>
<script type="text/javascript" src="/js/drone_networks/drone.js"></script>
<script type="text/javascript" src="/js/drone_networks/voronoi.js"></script>
<script type="text/javascript" src="/js/drone_networks/weather.js"></script>

<h1>Drone-Networks - Demo</h1>

<section>    
    <div id="map_full" style="width:100%; height:60vh;"></div>
</section>

<p>Leaflet map and control code source: <a href="https://research.artidas.hu/DroneNetworkSimulation_BASE_V1/" target="_blank">https://research.artidas.hu/</a></p>