<%- include('header') %>

<div id="draggable" class="ui-widget-content">
    <p>Drag me around</p>
</div>

<script>
    $(function() {
        $("#draggable").draggable();
    });
</script>

<%- include('footer') %>