<section class="left">
    <h1>University of Tokaj</h1>
    <p>Also known as "Tokaj-Hegyalja Egyetem" (THE).</p>

    <h1>Drone Technology Research Center</h1>

    <h2>Project documentation</h2>
    <p class="count">
        <a href="https://docs.google.com/document/d/1fFHs7fawe3v_g4uKaI39KgA0OrZJkfSebWtU66uu2hw/edit?usp=sharing" target="_blanl">
            Open documentation
        </a>
    </p>

    <h2>Number of drones in our laboratory</h2>
    <p id="drone_count" class="count">Loading...</p>
    <script>
        $(document).ready(function() {
            fetch('/api/count-drones')
                .then(response => response.json())
                .then(data => {
                    //console.log(data);
                    document.getElementById('drone_count').textContent = data;
                })
                .catch(error => {
                    console.error('Error fetching count:', error);
                    document.getElementById('drone_count').textContent = 'Error fetching count';
                });
        });
    </script>

    <h2>Number of engineers in our team</h2>
    <p id="user_count" class="count">Loading...</p>
    <script>
        $(document).ready(function() {
            fetch('/api/count-users')
                .then(response => response.json())
                .then(data => {
                    //console.log(data);
                    document.getElementById('user_count').textContent = data;
                })
                .catch(error => {
                    console.error('Error fetching count:', error);
                    document.getElementById('user_count').textContent = 'Error fetching count';
                });
        });
    </script>
</section>

<section class="right">
    <div id="slideshow_container">
        <div class="mask"></div>
        <img id="slideshow_img" src="">
    </div>
    <script>
        $(document).ready(function() {
            //console.log('Starting up engines...');
            var current_index = 0;
            var images = [
                "logo_large.png",
                "1-IMG_9515.JPG",
                "325911924_2121405098250011_3585025570035537713_n.jpg",
                "399710798_302764609331821_685907675419807536_n.jpg",
                "canvas_drawing_resized_1706564754292.png",
                "IMG_7292.jpg",
                "Képernyőkép 2024-05-01 111054.jpg",
                "Képernyőkép 2024-05-01 111142.jpg",
                "TDK_VZ.jpg",
                "TDK_VZ_TK_PA.jpg",
                "TrafficLight_BreadBoard_Demo.gif",
                "TrafficLight_TinkerCad.png",
                "Zoltan-Veres-profile-photo.jpg"
            ];

            function showImage(index) {
                //$("#slideshow_img").attr("src", `/media/carousel/${images[index]}`);
                //console.log('Showing image: ' + `/media/carousel/${images[index]}`);
                $("#slideshow_img").animate(
                    {
                        marginLeft: '100%',
                        opacity: 0
                    },
                    300,
                    function() {
                        $(this).attr("src", `/media/carousel/${images[index]}`);
                        $(this).css('marginLeft', '0%');
                        $(this).animate(
                            {
                                marginLeft: '0px',
                                opacity: 1
                            },
                            300
                        );
                    }
                );
            }

            function nextImage() {
                //console.log('Showing next image...');
                current_index = (current_index + 1) % images.length;
                showImage(current_index);
            }

            $("#slideshow_img").on("click", function() {
                current_index = (current_index + 1) % images.length;
                showImage(current_index);
            });

            showImage(current_index);

            setInterval(nextImage, 3000);
        });
    </script>
</section>

<style>
    .count {
        border: 1px dashed #ccc;
        padding: 10px;
        background-color: #eee;
        font-weight: bold;
        font-size: 36px;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .left, .right {
        width: 50%;
        overflow: hidden;
    }
    #slideshow_container {
        overflow: hidden;
        margin: auto;
    }
    #slideshow_img {
        margin-left: 10px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 1px solid #eee;
        height: auto;
    }
    .mask {
        position: absolute;
        top: 126px;
        right: 25%;
        height: 60%;
        width: 25%;
        background: linear-gradient(to right, rgba(244, 244, 244, 1), rgba(255, 255, 255, 0)); /* White to transparent gradient */
        z-index: 1;
    }
</style>
<br style="clear:both;" />