<h1>User registration</h1>

<form id="registration_form">
    <input type="text" id="username" name="username" placeholder="Username" />
    <br/>
    <input type="email" id="email" name="email" placeholder="Email" />
    <br/>
    <input type="password" id="password" name="password" placeholder="Password" />
    <br/>
    <button type="submit">Register</button>
</form>
<div id="form_response" style="margin-left: 5px;"></div>
<br style="clear:both" />

<script>
    $(document).ready(function() {

        $('#registration_form').submit(function(event) {
            event.preventDefault();

            $('#form_response').html('');
            $('#username, #email, #password').css('border-color', '#ccc');

            const username = $('#username').val().trim();
            const email = $('#email').val().trim();
            const password = $('#password').val().trim();

            if (!username || !email || !password) {
                $('#form_response').html('<p>Please fill in all required fields:</p>');
                if (!username) {
                    $('#form_response').append('<p>Username</p>');
                    $('#username').css('border-color', '#f00');
                }
                if (!email) {
                    $('#form_response').append('<p>E-mail</p>');
                    $('#email').css('border-color', '#f00');
                }
                if (!password) {
                    $('#form_response').append('<p>Password</p>');
                    $('#password').css('border-color', '#f00');
                }
                $('#form_response').animate(
                    {
                        backgroundColor: "#fcc"
                    },
                    'slow'
                );

                return;
            }

            const formData = $(this).serialize();
            //console.log(formData);
            $.post('/api/register-user', formData, function(response) {
                //console.log('OK: Registration successful:', response);
                //console.log(response);
                $('#form_response').html(`
                    <p>Registration successful!</p>
                    <!-- <p>${response}</p> -->
                    <p>Please visit the login page: <a href="/user/login">Login...</a></p>
                `);
                $('#form_response').animate(
                    {
                        backgroundColor: "#cfc"
                    },
                    'fast'
                );
            }).fail(function(xhr, status, error) {
                //console.error('ERROR: Registration failed:', error);
                $('#form_response').html(`
                    <p>Registration failed:</p>
                    <p>${error}</p>
                `);
                $('#form_response').animate(
                    {
                        backgroundColor: "#fcc"
                    },
                    'fast'
                );
                $('#username, #email, #password').css('border-color', 'red');
            });
        });

    });
</script>
<style>
    #registration_form,
    #form_response {
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 43%;
        float: left;
    }

    #registration_form input[type="text"],
    #registration_form input[type="email"],
    #registration_form input[type="password"] {
        width: 90%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        background-color: #fff;
    }

    #registration_form button[type="submit"] {
        width: 97%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #333;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }

    #registration_form button[type="submit"]:hover {
        background-color: #555;
    }

    #form_response a {
        display: inline-block;
        border: 1px solid #ccc;
        background-color: #333;
        border-radius: 5px;
        color: #fff;
        text-decoration: none;
        text-decoration: bold;
        padding: 5px;
    }
    #form_response a:hover {
        background-color: #fff;
        color: #333;
    }
</style>