html {
    min-height: 100%;
    margin: auto;
}

body {
    background-color: #eee;
    text-align: left;
    min-height: 100%;
    margin: auto;
    font-size: 28px;
    font-family: sans-serif, Arial, Helvetica;
}

#header {
    background-color: #ccc;
}
footer {
    text-align: center;
    background-color: #ccc;
}

#the_header_logo {
    width: 10%;
    float: right;
}

.left {
    float: left;
}
.right {
    text-align: right;
}

